<h2><strong id="topquestions"></strong></h2>
    <table id="faq-table" class="col-xs-12 col-lg-12 padding-zero">
        <tbody id="faq-tableplace">
            {{#faqQestionAnswers}}
             <tr>
             <td style="display: block;">
             <div class="panel panel-default faq">                    
             <div class="panel-heading text-left" role="tab" id="hOne">
             <div class="row">
             <div class="col-xs-12 col-lg-12">
             <div class="col-md-11 col-xs-11"> 
             <h2 class="panel-title" data-toggle="collapse" href="#One{{{@index}}}" aria-expanded="false" aria-controls="One"><a href=""><span class="pnl-title">{{question}}</span>
</a></h2>
</div>
<div class="col-md-1 col-xs-1"> 
    <span class="glyphicon glyphicon-menu-right pull-right" data-toggle="collapse" href="#One{{{@index}}}" aria-expanded="false" aria-controls="One"></span>
</div>
</div>
</div>
</div>


<div id="One{{{@index}}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body col-md-11 col-sm-11 col-xs-11">         
        <p>{{breaklines answer}}</p>		

		{{#if buttonlink}}
				<a href="{{{buttonlink}}}" target="_blank"><button class="btn btn-lg">{{buttontxt}} </button></a>
		{{/if}}

</div>
</div>
</div>
</td>
</tr>
{{/faqQestionAnswers}} 
</tbody>
</table>
<hr class="faxTableHr"> 